<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="text-align: center;font-family:Helvetica,Arial,sans-serif;font-size: 18px">

  <div style="background-color: #1E88E5; padding-top: 2px; padding-bottom: 2px;">
    <h1 style="color: white; font-size: 30px; line-height:160%">Bem-Vindo!</h1>
  </div>

  <div style="max-width: 768px; margin: auto; color: #757575">
    <div style="width: 90%; margin: auto;">
      <h2 style="font-weight: bold; color: #616161; margin-bottom: 32px;">Ol&aacute;, <b style="color: #1E88E5"><%= @user.name %></b>!</h2>
      <p style="margin: 20px; margin-bottom: 32px;">Obrigado por se juntar a nossa plataforma</p>
      <p style="margin: 20px; margin-bottom: 32px;">Abra&ccedil;os,<br>Equipe Moccato</p>
    </div>

    <hr style="margin:auto;width:30px;border:0;border-top:1px solid #ddd;padding-bottom:16px;margin-top: 16px;">
  </div>
</div>
</body>
</html>